{% extends "LMamminoJHACBundle::base.html.twig" %}

{% block content %}
    <div class="home-banner">
        <div class="row">
            {% if is_granted('ROLE_USER') %}
                <div class="twelve columns">
                    <h2>You are logged in.</h2>
                </div>
            {% else %}
                <div class="twelve columns">
                    <h2>You are not currently logged in.</h2>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}